.AdminHomepage {
    /* background-color: white; */
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    border-radius: 20px;
}

.AdminButtons {
    margin-top: 0;
    margin-bottom: 5px;
}

@media only screen and (max-width: 481px) {

    .AdminHomepage {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }

}