.CalendarCard {
    padding: 20px;
    border: 3px solid rgb(61, 60, 60);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.747);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: white;
    width: 300px;
}

.CalendarTitle {
    font-weight: bold;
    text-align: right;
    /* border-bottom: 1px solid black; */
    font-style: italic;
    color: #f55d3e;
}

.Day {
    border: 1px solid black;
    margin: 5px;

}

.DayTitle {
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid black;
    background-color: #f7ca15ab;
}

.Calendar{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.DoneButton {
    margin: 2px;
    color: black;
    border: unset;
    border-radius: unset;
    font-weight: bold;
    padding: 2px 15px;
    border-radius: 5px;
}

.DoneButton:hover {
    text-shadow: 0 0 10px black;
}

.noDisplay{
    display:none
}

.Slash{
    text-decoration: line-through;
}

@media only screen and (min-width: 481px) {

    .CalendarCard {
        width: 700px;
        margin: 20px auto;
    }

    .Calendar {
        display: flex;
    }

    .Day {
        margin: 0;
        width: 100px;
    }

}