.Header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #878E88;
  width: 100vw;
  margin-right: 0;
}

.navLinks, .NavLinkButton {
  color: white;
  text-decoration: none;
  font-style: normal;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: unset;
}

.navLinks:hover, .NavLinkButton:hover {
  border: 1px solid white;
  border-radius: 5px;
  /* background-color: black; */
  color: white;
}

.NavLinkButton {
  background-color: unset;
  border: unset;
  margin-right: 0; 
}

.navLogo {
  font-size: 65px;
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-style: italic;
  font-weight: lighter;
}

.navLogo:hover {
  text-shadow: 0 0 10px white;
  color: white;
}

.noDisplay{
  display:none;
}


.welcomeMessage {
  color: #f7cb15;
  text-shadow: 0 0 10px white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* .welcomeMessage .letter {
} */

/* @media only screen and (max-width: 1300px) {

  .navLinks, .NavLinkButton {
    font-size: 14px;
    padding: 2px;
  }

  .NavLinkButton {
    padding: 2px;
  }
  
}

@media only screen and (max-width: 1166px) {

  .welcomeMessage {
    font-size: 12px;
  }
  
} */


@media only screen and (max-width: 481px) {
    
  .navLogo {
    font-size: 30px;
  }

  .navLinks, .NavLinkButton {
    font-size: 12px;
    padding: 2px;
  }

  .welcomeMessage {
    display: none;
  }

  .NavLinkButton {
    padding: 3px;
    margin: 0;
  }

}