.Header{
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.navLinks {
  color: white;
  text-decoration: none;
  font-style: normal;
  padding: 5px 20px;
  font-size: 16px;
 
 
}

.navLinks:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
}

.navLogo {
  font-size: 65px;
  color: white;
  text-decoration: none;
  font-style: normal;
  padding: 5px 20px;
  
}

.navLogo:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
}

.noDisplay{
display:none;
}


.welcomeMessage {
  font-style: italic;
  color: black;
  text-shadow: 0 0 10px white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* .welcomeMessage .letter {
} */