.Header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.705);
}

.navLinks, .NavLinkButton {
  color: white;
  text-decoration: none;
  font-style: normal;
  padding: 5px 20px;
  font-size: 16px;
}

.navLinks:hover, .NavLinkButton:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.NavLinkButton {
  background-color: unset;
  border: unset;
  margin-right: 0; 
}

.navLogo {
  font-size: 65px;
  color: white;
  text-decoration: none;
  font-style: normal;
  padding: 5px 20px;
  font-style: italic;
}

.navLogo:hover {
  text-shadow: 0 0 10px white;
  color: white;
}

.noDisplay{
  display:none;
}


.welcomeMessage {
  color: rgb(163, 162, 162);
  text-shadow: 0 0 10px white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* .welcomeMessage .letter {
} */

@media only screen and (max-width: 481px) {
    
  .navLogo {
    font-size: 30px;
  }

  .navLinks, .NavLinkButton {
    font-size: 12px;
    padding: 3px;
  }

  .welcomeMessage {
    display: none;
  }

  .NavLinkButton {
    padding: 3px;
    margin: 0;
  }

}