.Homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    margin: 0px;
}

.leftSide, .rightSide {
    margin-top: 5%;
}

.leftSide {
    /* flex: 1; */
    margin-left: 25px;
    margin-right: 25px;
    width: 35%;
}

h3 {
    font-style: italic;
    font-weight: unset;
    border-bottom: 1px solid white;
    color: white;
    text-align: unset;
    padding: unset;
}

h4 {
    font-size: 14px;
    font-weight: unset;
    color: white;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 2; */
    background-color: white;
    border-radius: 19px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 700px;
}

.rightFrame{
    width:100%;
}

.pokeText {
    height: 85px;
    padding-top: 20px;
}

.pokemon {
    height: 275px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 481px) {
    
    .Homepage {
        display: flex;
        flex-direction: column-reverse
    }

    .rightSide {
        max-width: 400px;
    }

    .leftSide {
        width: 90%;
        max-width: 400px;
        text-align: center;
    }

    .pokeText {
        height: 60px;
    }

    .pokemon {
        height: 100px
    }

}