.SignInForm{
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 0 auto;
  width: 60%;
  margin-top: 40px;
  text-align: center;
}

.Title {
  border-bottom: 1px solid #F55D3E;
  padding: 10px;
  font-style: italic;
  text-align: center;
  color: #F55D3E;
}

label {
  font-weight: bold;
  font-size: 15px;
}

button {
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  background-color: #878E88;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 30px;
  color: white;
  font-weight: lighter;
}

button:hover {
  background-color: #6f7570;
}

/* .SignInForm label{
 margin:5px;
 text-align: center;
} */

/* .signInFormTitle {
  text-align: center;
} */