/* .TaskForm {
    position: fixed;
    z-index: 1040;
    top: 50%;
    left: 50%;
    right: auto;
    left: auto;
    margin-right: -50%;
    transform: traslate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    width: 600px;
    max-width: 90%;
    height: 600px;
    max-width: 90%;
    text-align: center;
    border-radius: 15px;
} */

.taskFormTitle {
    color: black;
}

.FormModal {
    font-family: inherit;
    text-align: center;
}