.pokemonCard{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 5px solid black;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.555);
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}

/* .pokemonCard:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
   
}

.pokemonCard:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} */

.pokemonCard_pic{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
}

.TrainerTitle {
    display: none;
}

.CalendarGrid, .CalendarGridChores {
    text-align: center;
}

.TrainerChoredex {
    margin: 0 auto;
    width: 80%;
}