.trainerFormTitle {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.FormModal {
    font-family: inherit;
    text-align: center;
}

.TrainerForm {
    text-align: center;
}