.trainerFormTitle {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.FormModal {
    font-family: inherit;
    text-align: center;
}

.TrainerForm {
    text-align: center;
}

@media only screen and (max-width: 480px) {

    .modal-dialog {
        max-width: 70vw;
        margin: 0;
        height: 600px;
	}

    .modal-content {
        height: 80%;
    }
}