.pokemonCard{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    margin: 3px;
    background-color: #c7ecf5;
    font-weight: bold;
    font-size: 9px;
    text-transform: capitalize;
    box-shadow: 0 0 3px black;
    font-style: normal;
    text-align: left;
}

.PokeName {
    font-size: 12px;
    margin: 0;
}

.pokemonCard_pic{
    width: 85px;
    height: 85px;
    border: 1px solid black;
    background-image: url('../assets/sparkle.jpg');
    background-size: cover;
    margin-bottom: 5px;

    overflow: hidden;
    display: inline-block;
}

/* .pokemonCard_pic:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}
      
.pokemonCard_pic:hover:after {
    opacity: 1;
    left: 100%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
      
.pokemonCard_Pic:active:after {
    opacity: 0;
} */
      

.TrainerTitle {
    display: none;
}

.TrainerChoredex {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

@media only screen and (min-width: 481px) { 

    .pokemonCard {
        margin: 10px;
        font-size: 12px;
        border: 2px solid black;
    }

    .PokeName {
        font-size: 16px;
    }

    .pokemonCard_pic {
        height: 120px;
        width: 120px;
        margin-bottom: 8px;
    }

    .TrainerChoredex {
        width: 90%;
    }
}