.AppBody {
    background-color: #76bed0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
}

header {
    /* background-color: rgba(0, 0, 0, 0.986); */
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    height: 65px;
    opacity: 85%;
}

h1, nav {
    padding: 0 20px;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-style: normal;
    padding: 5px 20px;
    font-size: 16px;
}

.navLinks:hover {
    border: 1px solid white;
    border-radius: 5px;
    /* background-color: black; */
    background-color: #6f7570;
}

footer {
    background-color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

h2, .Credits {
    padding-right: 40px;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}

img {
    height: 10px;
}

.linkedinLink{
    text-decoration: none;
    color: black
}
.linkedinLink:hover{
    color:darkgray;
    transition: 0.3s;
}

@media only screen and (min-width: 481px) {
    
    .Credits {
        font-size: 16px;
    }

    img {
        height: 16px;
    }
    
}